# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables / secrets
.env
.env.*
!.env.example

# IDE
.vscode/

# Large datasets
datasets/

# Trained models
ai/models/

# Logs
*.log

# Node.js
node_modules/

# generated prism client
src/generated